*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 50px;
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px 20px;
    background-color: green; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-bottom: 2px solid #e5e7eb; 
    height: 120px;
    position: fixed; 
    top: 0; /* Stick to the top */
    width: 100%; 
    z-index: 1000; 


}

#overskrift {
    font-family: 'Arial', sans-serif; 
    font-size: 50px;
    color: white;
    margin: 0;
    text-align: center;
}

#restartknapp {
    position: absolute;
    right: 100px; 
    background-color: #4caf50;
    color: white; 
    font-family: 'Arial', sans-serif; 
    font-size: 14px;
    padding: 16px 42px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

#restartknapp:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
}

#restartknapp:active {
    background-color: #388e3c; 
    transform: scale(0.95); 
}

#mellomrom{
    height: 200px;
    width: 100%;
    
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-auto-rows: 100px;
    width: 600px;
    gap: 10px;
    column-gap: 5px;
    margin-top: 130px;
    padding: 5px;

}

.nummer{
    text-align: center;
    font: 40px;
    outline: none;
    background-color: white;
    border: 1px solid black;
    gap: 20px;

}

#try1{
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    gap: 20px;

}

#try2{
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    gap: 20px;

}

#try3{
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#try4{
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    gap: 20px;

}

#tastatur{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    border: 1px solid black;
    width: 300px;
    height: 500px;
    margin-bottom: 100px;

}


#tastaturgruppeEn{
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;


}

#tastaturgruppeTo{
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;


}
#tastaturgruppeTre{
    grid-column: 1/4;
    grid-row:3/4;
    display: flex;
    justify-content: center;

}

#tastaturgruppeFire{
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    justify-content: center;

}

.tastaturgrupper button{
    background-color: white;
    border: none;
    height: 60px;
    width: 60px;

}